/*------------------ General ------------------*/
@font-face { 
	font-family: 'antique';
	src: url('./Antique');
}

@font-face {
    font-family: 'eurostile';
    src: url('./eurostile.TTF');
}


body{
    background-color: rgba(239, 0, 125, 1);
    background-image: url("background-both.png"); 
    background-position: center center;
    font-family: antique, Helvetica;
    font-weight: bold;  
    color: black;
    background-size: auto 100%;
    padding: 10px 20px;
    background-position: center;
    -webkit-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    -moz-transition: font-size 0.5s;
    transition: font-size 0.5s;
}

a:visited, a:link, a:hover{
	color: inherit;
}

a:hover{
	text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

a, #logo{
	text-decoration: none;
	color: inherit;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
h1{
	font-size: inherit;¨
	margin: 0;
	padding: 0;

}
#logo:hover{
	box-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
/* BIG PAGE */
@media all and (min-width: 1471px){
	body{
	    font-size: 2.8em;
	}
	
	.banner{
		width: 320px;
		height: 190px;
		left: 580px;
		top: -95px;
	}
	
	iframe{
		width: 1000px;
		height: 562px;
	}
}

/* MEDIUM PAGE */
@media all and (max-width: 1470px) and (min-width: 550px){
	body{
	    font-size: 1.8em;
	}
	
	.banner{
		width: 230px;
		height: 136px;
		left: 430px;
		top: -63px;
	}
	
	iframe{
		width: 800px;
		height: 450px;
	}
}

/* MOBILE */
@media only screen 
and (min-width : 321px) and (max-width : 550px) and (orientation : landscape){
/* Styles */
	body{
	    font-size: 0.8em;
	    padding: 5px 20px;
	}
	.banner{
		width: 120px;
		height: 70px;
		left: 150px;
		top: -35px;
	}
	
	iframe{
		width: 260px;
		height: 146px;
	}
	
	div.video{
		margin: 20px 0px;
		margin-bottom: 15px;
	}

	div.#logo, div.#date > div{
		border: 3px solid black !important;
	    border-radius: 2px 2px 2px 2px;
	    margin: 0px 0;
	}
}

@media only screen 
and (min-width : 300px) and (max-width : 320px) and (orientation : portrait){
	body{
		text-shadow: 0px 0px 2px whitesmoke;
	}
	.title > div, .info > div{
		margin: auto;
		float: none!important;
		width: 100%!important;
		text-align: center;
		display: inline-block!important;
	}
	
	#description, #logo, #date, #place{
		float: none!important;
		text-align: center!important
	}

	 h1, #date > div{
		margin: auto;
		text-align: center;
	}
	.title, .info{
		text-align: center;
		opacity: 1;
	}
	
	.banner{
		width: 100px;
		height: 58px;
		left: 105px;
		top: -23px;
	}
	
	iframe{
		width: 200px;
		height: 112px;
	}
	
	div.video{
		margin: 20px 0px;
		margin-bottom: 15px;
	}

	div.#logo, div.#date > div{
		border: 3px solid white !important;
	    border-radius: 2px 2px 2px 2px;
	    margin: 0px 0;
	}

}

/* IPAD */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	body{
	    font-size: 1.3em;
	    background-size: cover;
	    
	}
	
	.banner{
		width: 180px;
		height: 106px;
		left: 300px;
		top: -67px;
	}
	
	iframe{
		width: 600px;
		height: 337px;
	}
	
	div.video{
		margin: 180px 0px;
	}
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	body{
	    font-size: 1.8em;
	    background-size: cover;
	    background-repeat: no-repeat;
	    display: inline-block;
	    background-color: rgba(239, 0, 125, 1);
	    height: 100%;
	    padding: 15px 20px;
	    margin: 0;
	}
	
	.banner{
		width: 230px;
		height: 136px;
		left: 380px;
		top: -25px;
	}
	
	iframe{
		width: 800px;
		height: 450px;
	}
	
	div.video{
		margin: 25px 0px;
		margin-bottom: 20px;
	}
}
/*------------------ /Media Queries--------------*/
/*------------------ Site ------------------*/
#content{
	width: 100%;

}

.title, .info{
	  width: 100%; 
	  display:inline-block;
	  opacity: 0.75;
	  text-transform: uppercase;
}

.title > div, .info >div{
	margin: 5px 0px;
	padding: 5px 0px;
	display: inline;
}

#logo, #place{
	float: left;
	display: inline-block;
}

#logo, #date > div{
	border: 5px solid black;
    border-radius: 2px 2px 2px 2px;
    display: inline-block;
    margin: -0.35em 0;
    padding: 0.35em 0.35em 0.17em;
    vertical-align: middle;
}

#logo, #date{
	margin: 0px;
}


#description, #date{
	display: inline-block;	
}

#place, #date, #mail{
		width: 32.9%;
}

#date{
	float: right;
	text-align: right;
}

#description{
	float:right;
}
#mail{
	display: inline-block;	
    text-align: center;
}

#mail > a{
	   margin: 0 -50%;
    text-decoration: none;
}

.video{
	margin: 100px 0px;
	margin-bottom: 40px;
	display: inline-block;
    width: 100%;
    text-align: center;
}

.video iframe{
	padding: 5px;
	backgsround-color: black;
    border-radius: 2px;
    border: 5px solid black;
    border-radius: 2px 2px 2px 2px;
    padding: 0px;
}

.banner-cont{
	height: 0px;
}
.banner{
	text-indent: 999px;
	background-image: url("banner.png");
	background-size: cover;
	display: inline-block;
	position: relative;
}

